.card {
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

/* light background added */
body, html {
  height: 70%; 
  margin: 0;    
  display: flex;
  justify-content: center;  
  align-items: center;      
  background-color: #f3f7ff;  /* light blue, clean look */
}

